<div class="row pb-3">
  <div class="col">
    <%= link_to task_path(task.id) do %>
      <i id="view-button" class="fa-regular fa-folder-open <%= handle_show(disable_show) %> icon-size-lg" ></i>
    <% end %>
  </div>
  <div class="col">
    <%= link_to edit_task_path(task.id) do %>
      <i id="edit-button" class="fa-regular fa-pen-to-square <%= handle_edit(disable_edit) %> icon-size-lg"></i>
    <% end %>
  </div>
</div>
<div class="row pb-5">
  <div class="col">
    <%= form_for task, url: task_mark_in_progress_path(task.id), method: :patch do |f| %>
      <%= f.button nil, class: "btn p-0" do %>
        <i id="in-progress-button" class="fa-solid fa-repeat <%= handle_in_progress(task.completed_at.nil?) %> icon-size-lg"></i>
      <% end %>
    <% end %>
  </div>
  <div class="col">
    <%= form_for task, url: task_mark_complete_path(task.id), method: :patch do |f| %>
      <%= f.button nil, class: "btn p-0" do %>
        <i id="complete-button" class="fa-regular fa-circle-check <%= handle_complete(task.completed_at.nil?) %> complete-icon-size-lg"></i>
      <% end %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col"></div>
  <div class="col">
    <%= link_to task_path(task.id), method: :delete do %>
      <i id="destroy-button" class="fa-regular fa-trash-can yellow icon-size-lg"></i>
    <% end %>
  </div>
</div>