<h1 id="changeColor">
  <i class="fa-solid fa-list-ul"></i>
  My ToDoList
</h1>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-bs-toggle="tab" href="<%= tasks_path %>">In Progress</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color:#D926A2" data-bs-toggle="tab" href="<%= completed_tasks_path %>">Completed</a>
  </li>
  <li class="nav-item pt-2">
    <%= link_to new_task_path, { style: "margin-left: 30px; text-decoration: none" } do %>
      <i class="fa-solid fa-folder-plus" style="color:#26D95D; font-size: 150%"></i>
    <% end %>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane container fade" id="/tasks_completed">
    <div class="my-3 p-3 bg-body rounded shadow-sm">
      <% @tasks.each do |task| %>
        <div class="d-flex text-muted pt-3">
          <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
            <div class="d-flex justify-content-between">
              <div class="">
                <strong class="text-gray-dark">Task# <%= task.id %></strong>
                Due:  <%= task.due_date %>
              </div>
              <div class="">
                <div class="row">
                  <div class="row text-end">
                    <div class="col">
                      <%= link_to task_path(task.id), { style: "text-decoration: none" } do %>
                        <i class="fa-regular fa-folder-open" style="color:#26D95D; font-size: 150%" ></i>
                      <% end %>
                    </div>
                    <div class="col">
                      <%= link_to edit_task_path(task.id), { style: "text-decoration: none" } do %>
                        <i class="fa-regular fa-pen-to-square" style="color:#2649D9; font-size: 150%"></i>
                      <% end %>
                    </div>
                  </div>
                  <div class="row mt-4  text-end">
                    <div class="col">
                      <%= link_to "#", { style: "text-decoration: none" } do %>
                        <i class="fa-solid fa-repeat" style="color:#D926A2; font-size: 150%"></i>
                      <% end %>
                    </div>
                    <div class="col">
                      <%= link_to "#", { style: "text-decoration: none" } do %>
                        <i class="fa-regular fa-circle-check" style="color:#999999; font-size: 150%"></i>
                      <% end %>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="row">
              <div class="row">
                <div class="col">
                  <p class="ml-6"><%= task.note %></p>
                </div>
                <div class="col">

                </div>
              </div>
              <div class="row">
                <div class="col">
                  <% if task.effort_level === 1 %>
                      <i class="fa-solid fa-spoon" style="color:#26D95D"></i>
                  <% elsif task.effort_level === 2 %>
                    <i class="fa-solid fa-spoon" style="color:#2649D9"></i>
                    <i class="fa-solid fa-spoon" style="color:#2649D9"></i>
                  <% elsif task.effort_level === 3 %>
                    <i class="fa-solid fa-spoon" style="color:#D926A2"></i>
                    <i class="fa-solid fa-spoon" style="color:#D926A2"></i>
                    <i class="fa-solid fa-spoon" style="color:#D926A2"></i>
                  <% end %>
                </div>
                <div class="col text-end">
                  <%= link_to task_path(task.id), { style: "margin-left: 10px; text-decoration: none" }, method: :delete  do %>
                    <i class="fa-regular fa-trash-can" style="color:#D9B626; font-size: 150%"></i>
                  <% end %>
                </div>
              </div>
            </div>

          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>