<%= form_for @task, url: task_mark_complete_path(@task.id), method: :patch do |f| %>
  <div class="my-3 p-3 bg-body rounded shadow-sm">
    <h1><strong class="text-gray-dark">Task# <%= @task.id %></strong></h1>
    <%= link_to task_path(@task.id) do %>
      <%= render "folder_open_svg" %>
    <% end %>

    <%= link_to edit_task_path(@task.id) do %>
      <%= render "pencil_svg" %>
    <% end %>

    <%= link_to task_path(@task.id), { style: "margin-left: 8px;" }, method: :delete  do %>
      <%= render "trash_svg" %>
    <% end %>
    <div class="d-flex text-muted pt-3">
      <div class="pb-3 mb-0 small lh-sm w-100">
        <div class="d-flex justify-content-between">

          <div class="row w-100">

            <div class="col-12 mb-3">
              <label for="address" class="form-label">Completed Date</label>
              <%= f.datetime_field :completed_at, { class: "form-control", value: Time.new.strftime("%Y-%m-%dT%k:%M") } %>
            </div>

            <div class="col-12 text-center">
              <%= f.submit "Complete Task", class: "w-25 btn btn-primary btn-lg" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>