<%= render partial: 'inner_nav', locals: { allow_new: true } %>

<%= form_for @task do |f| %>
  <div class="mb-3 p-3 bg-body rounded shadow-lg" data-controller="hello">
    <div class="row">
      <div class="col" >
        <h1><strong class="text-gray-dark" id="displayTitle" data-target="hello" ><%= @task.title %></strong></h1>
      </div>

      <%= render partial: 'button_nav', locals: { task: @task, disable_show: false, disable_edit: true } %>
  </div>

  <%= render partial: 'form', locals: { button_text: "Update", due_date: nil } %>

  </div>
<% end %>
