<h1 id="changeColor">My ToDoList
  <i class="bi-globe"></i>
</h1>
<input type="button" onclick="changeColor('red')" value="Make red">
<input type="button" onclick="changeColor('blue')" value="Make blue">


<div class="my-3 p-3 bg-body rounded shadow-sm">
  <% @tasks.each do |task| %>
    <div class="d-flex text-muted pt-3">
      <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between">
          <div class="">
            <strong class="text-gray-dark">Task# <%= task.id %></strong>
            Due:  <%= task.due_date %>
          </div>
          <div class="">

          <%= link_to task_path(task.id) do %>
            <%= render "folder_open_svg" %>
          <% end %>

          <%= link_to edit_task_path(task.id) do %>
            <%= render "pencil_svg" %>
          <% end %>

          <%= link_to task_complete_path(task.id) do %>
             <%= render "check_svg" %>
          <% end %>

          <%= link_to task_path(task.id), { style: "margin-left: 8px;" }, method: :delete  do %>
             <%= render "trash_svg" %>
          <% end %>

        </div>
        </div>

        <p class="ml-6"><%= task.note %></p>
      </div>
    </div>
  <% end %>
</div>