<div class="row g-0 pt-1">

  <%= render partial: 'inner_nav', locals: { allow_index: false, allow_new: true } %>

  <div class="container">
    <ul class="nav nav-tabs small lh-sm">
      <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#in_progress">In Progress(<%= @tasks.count %>)</a>
      </li>
      <li class="nav-item">
        <a id="completed-tab" class="nav-link" data-bs-toggle="tab" href="#completed">Completed(<%= @completed_tasks.count %>)</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane container active p-0" id="in_progress">
        <div class="p-3 bg-body rounded shadow-sm small lh-sm">
          <% if @tasks.any? %>
            <% @tasks.each_with_index do |task, index| %>
              <div class="text-muted py-3 <%= border_bottom(@tasks, task) %>">
                <div class="row g-0 w-100">
                  <div class="col w-75">
                    <div class="row">
                      <strong class="text-gray-dark title"><%= task.title %></strong>
                    </div>
                    <div class="row">
                      <p>Due: <br> <%= task.due_date.to_s(:default_display) %></p>
                    </div>
                    <div class="row">
                      <p class=""><%= task.note %></p>
                    </div>
                    <div class="row">
                      <div class="col">
                        <%= handle_effort_level(task.effort_level) %>
                      </div>
                    </div>
                  </div>
                  <div class="col w-25 text-end">
                    <%= render partial: 'button_nav', locals: { task: task, disable_show: false, disable_edit: false } %>
                  </div>
                </div>
              </div>
            <% end %>
          <% else %>
            <div class="text-muted">
              <p>
                To create your first task click <i class="fa-solid fa-folder-plus green icon-size-lg"></i>
                in the upper right.
              </p>
            </div>
          <% end %>
        </div>
      </div>

      <div class="tab-pane container fade p-0" id="completed">
        <div class="p-3 bg-body rounded shadow-sm small lh-sm">
          <% if @completed_tasks.any? %>
            <% @completed_tasks.each do |task| %>
              <div class="text-muted py-3 <%= border_bottom(@completed_tasks, task) %>">
                <div class="row g-0 w-100">
                  <div class="col w-75">
                    <div class="row">
                      <strong class="text-gray-dark title"><%= task.title %></strong>
                    </div>
                    <div class="row">
                      <p>Completed: <br> <%= task.completed_at.to_s(:default_display) %></p>
                    </div>
                    <div class="row">
                      <p class=""><%= task.note %></p>
                    </div>
                    <div class="row">
                      <div class="col">
                        <%= handle_effort_level(task.effort_level) %>
                      </div>
                    </div>
                  </div>
                  <div class="col w-25 text-end">
                    <%= render partial: 'button_nav', locals: { task: task, disable_show: false, disable_edit: false } %>
                  </div>
                </div>
              </div>
            <% end %>
          <% else %>
            <div class="text-muted">
              <p>
                Ready to check a todo off your list? Mark a task complete by clicking <i class="fa-regular fa-circle-check pink complete-icon-size-lg"></i></i>.
              </p>
            </div>
          <% end %>
        </div>
      </div>

    </div>
</div>