<%= render partial: 'inner_nav', locals: { allow_index: true, allow_new: true  } %>

<div class="mb-3 p-3 mt-5 bg-body rounded shadow-lg">
  <div class="row">
    <div class="col">
      <h1><strong class="text-gray-dark"><%= @task.title %></strong></h1>
      <div class="row g-0 p-2 rounded border text-muted">
        <div class="">
          <p>Due:  <br><%= @task.due_date.to_s(:default_display) %></p>
        </div>
        <div class="">
          <% if @task.completed_at.present? %>
            <p>Completed:  <%= @task.completed_at.to_s(:default_display) %></p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col text-end pr-3">
      <%= render partial: 'button_nav', locals: { task: @task, disable_show: true, disable_edit: false } %>
    </div>
  </div>

  <div class="d-flex text-muted pt-2">
    <div class="w-100">
      <div class="rounded border p-2 mt-2">
        <div class="mb-5">
          <span class="d-block">Note: <%= @task.note %></span>
        </div>
        <div class="pb-3" >
          <%= handle_effort_level(@task.effort_level) %>
        </div>
        <div class="border-top row m-1 g-0 pt-2">
          <div class="col">
            <span class="d-block">Created: <%= @task.created_at.to_s(:default_display) %></span>
          </div>
          <div class="col">
            <span class="d-block">Updated: <%= @task.updated_at.to_s(:default_display) %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>