<%= render partial: 'inner_nav', locals: { allow_new: true  } %>

<div class="mb-3 p-3 bg-body rounded shadow-lg">
  <div class="row">
    <div class="col">
      <h1><strong class="text-gray-dark"><%= @task.title %></strong></h1>
      <div class="row g-0 p-2 rounded border text-muted">
        <div class="">
          <p>Due:  <br><%= @task.due_date.strftime("%l:%M%P %m/%d/%y") %></p>
        </div>
        <div class="">
          <% if @task.completed_at.present? %>
            <p>Completed:  <%= @task.completed_at.strftime("%l:%M%P %m/%d/%y") %></p>
          <% end %>
        </div>
      </div>
    </div>

    <%= render partial: 'button_nav', locals: { task: @task, disable_show: true, disable_edit: false } %>

  </div>

  <div class="d-flex text-muted pt-2">
    <div class="w-100">
      <div class="rounded border p-2 mt-2">
        <div class="mb-5">
          <span class="d-block">Note: <%= @task.note %></span>
        </div>
        <div class="pb-3" >
          <% if @task.effort_level === 1 %>
            <i class="fa-solid fa-spoon green"></i>
          <% elsif @task.effort_level === 2 %>
            <i class="fa-solid fa-spoon blue"></i>
            <i class="fa-solid fa-spoon blue"></i>
          <% elsif @task.effort_level === 3 %>
            <i class="fa-solid fa-spoon pink"></i>
            <i class="fa-solid fa-spoon pink"></i>
            <i class="fa-solid fa-spoon pink"></i>
          <% end %>
        </div>
        <div class="border-top row m-1 g-0 pt-2">
          <div class="col">
            <span class="d-block">Created: <%= @task.created_at.strftime("%l:%M%P %m/%d/%y") %></span>
          </div>
          <div class="col">
            <span class="d-block">Updated: <%= @task.updated_at.strftime("%l:%M%P %m/%d/%y") %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>