<!DOCTYPE html>
<html>
  <head>
    <title>Todolist</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div style='margin:40px'>
    <% flash.each do |type, msg| %>
      <div style="background: yellow">
        <%= msg %>
      </div>
    <% end %>

    <%= yield %>
    </div>
    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
    
  </body>
</html>
